
 
/*bagian header*/
.wrap .header{
	background: green;
	/*height: 50px;*/
	padding: 20px 10px;
}
 
/*akhir header*/
 
/*bagian menu*/

.clear{
	clear: both;
}
 
.badan{
    height: 2000px;
    background: url('backgroundlogin.jpg');
}

.isi{
    height:2000px;
    width:60%;
    background:#eaf2e3;
}
.wrap .footer{

		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: #53bd84;
		color: white;
		text-align: center;
}

p{
	font-family: "Book Antiqua";
}